tensorflow-gpu>=1.13.1
numpy==1.16.2
pandas==0.24.2
jupyter==1.0.0
seaborn==0.9.0
scipy==1.2.1
matplotlib==3.0.3
scikit-learn==0.20.3
pyyaml==5.1.1
psutil==5.6.6
h5py==2.9.0
keras==2.2.4
playsound==1.2.2
librosa==0.7.1
protobuf==3.7.1
xgboost==0.90
pyyaml==5.1.1
lightgbm==2.2.3
torch==1.3.1
torchvision==0.4.2

jieba==0.39
nltk==3.4.5
spacy==2.1.6
gensim==3.8.0
polyglot==16.7.4

